
img {
  margin: 0 auto;
  border-radius: 12px;
}

h1 {
  text-align: center;
  color: #1d1d1d;
  margin: 20px 0px;
}

.show-value {
  margin: 20px 10px;
}

.show-button, .props {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__details {
  margin: 0 auto;
  padding: 10px;
  width: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__details ul {
  background: #fafafa;
  padding: 10px 20px;
  border-radius: 6px;
}

.list-names {
  margin-top: 10px;
}

.list-names ul li {
  list-style: none;
}

.state-lift {
  margin-top: 10px;
  padding: 10px 0px;
}

.fragment {
  background: var(--background-image);
  width: 580px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
}

.children-prop {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

.execute__function {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Dynamic Classes */
.black-title {
  font-size: 24px;
  color: #00000;
  padding: 12px;
}

/* Inline Style */
.inline__style {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  border-radius: 8px;
}

/* Dynamic CSS */
.dynamic__css {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  border-radius: 8px;
}

/* Dynamic Classes */
.dynamic-classes {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  border-radius: 8px;
  padding: 24px;
}

/* Component CSS Module */
.component__cssmodule {
  background: var(--background-image);
  width: 580px;
  margin: 14px auto;
  border-radius: 8px;
  padding: 24px;
}

body {
  height: auto;
  background: #fafafa;
  height: auto;
  background-image: linear-gradient(
    5deg,
    hsl(50deg 69% 91%) 0%,
    hsl(50deg 64% 90%) 2%,
    hsl(51deg 60% 89%) 4%,
    hsl(51deg 57% 88%) 8%,
    hsl(51deg 55% 86%) 13%,
    hsl(51deg 52% 85%) 22%,
    hsl(51deg 51% 84%) 47%,
    hsl(50deg 52% 85%) 76%,
    hsl(48deg 54% 86%) 86%,
    hsl(47deg 56% 87%) 92%,
    hsl(46deg 58% 88%) 96%,
    hsl(44deg 60% 89%) 98%,
    hsl(43deg 62% 90%) 100%
  );
}